---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs-master
  namespace: seaweed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seaweedfs-master
  template:
    metadata:
      labels:
        app: seaweedfs-master
    spec:
      containers:
        - name: master
          image: chrislusf/seaweedfs:latest
          args:
            - "master"
            - "-ip=0.0.0.0"
            - "-defaultReplication=000"
          ports:
            - containerPort: 9333
            - containerPort: 18080
            - containerPort: 19090
          readinessProbe:
            tcpSocket:
              port: 9333
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs-volume
  namespace: seaweed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seaweedfs-volume
  template:
    metadata:
      labels:
        app: seaweedfs-volume
    spec:
      containers:
        - name: volume
          image: chrislusf/seaweedfs:latest
          args:
            - "volume"
            - "-max=5"
            - "-mserver=seaweedfs-master:9333"
            - "-port=8080"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: seaweedfs-master
  namespace: seaweed
spec:
  type: LoadBalancer
  selector:
    app: seaweedfs-master
  ports:
    - name: master
      port: 9333
      targetPort: 9333
    - port: 18080
      targetPort: 18080
      name: filer
    - port: 19090
      targetPort: 19090
      name: s3
    - port: 19333
      targetPort: 19333
      name: filer2
---
apiVersion: v1
kind: Service
metadata:
  name: seaweedfs-volume
  namespace: seaweed
spec:
  selector:
    app: seaweedfs-volume
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs-filer
  namespace: seaweed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seaweedfs-filer
  template:
    metadata:
      labels:
        app: seaweedfs-filer
    spec:
      containers:
        - name: filer
          image: chrislusf/seaweedfs:latest
          args:
            - "filer"
            - "-master=seaweedfs-master:9333"
          ports:
            - containerPort: 8888
---
apiVersion: v1
kind: Service
metadata:
  name: seaweedfs-filer
  namespace: seaweed
spec:
  selector:
    app: seaweedfs-filer
  ports:
    - port: 8888
      targetPort: 8888
      name: filer
